.top-offset-20 {
    margin-top: 20px;
}
.bot-offset-20 {
    margin-bottom: 20px;
}
.top-offset-5 {
    margin-top: 5px;
}

.left_img {
    float: left;
}

.header_stripe {
    margin-bottom: 10px;
    background: #A0A09F;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding-left: 10px;
}

.header_stripe_money {
    color: yellow;
    text-align: right;
}

.news_header_stripe {
    margin-top: 50px;
    background: #A0A09F;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding-left: 10px;
    text-align: center;
}

.cabinet_page_header {
    text-align: center;
    margin-top: 5px;
    height: 50px;
}

.header_stripe a {
    text-decoration: none;
    color: white;
}
.header_stripe a:visited {
    text-decoration: none;
    color: white;
}
.header_stripe a:hover {
    color: white;
}
.header_stripe a:active {
    text-decoration: none;
    color: white;
}

.link_hover_disabled a:hover {
    text-decoration: underline;
}
.order_header {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
}
.link_hover_with_color_disabled a:hover {
    color: white;
    text-decoration: underline;
}
.order_header_cell {
    display: inline-flex;
    background: #70AD47;
    color: white;
    /*font-weight: bold;*/
    padding: 2px;
    height: 65px;
    width: 115px;
    border: 2px solid white;
}
.order_row {
    margin-left: 10px;
    margin-right: 10px;
}
.order_cell {
    display: inline-flex;
    background: #D5E3CF;
    padding: 2px;
    height: 50px;
    width: 115px;
    border: 2px solid white;
}
.order_row > a:hover {
    color: white;
    text-decoration: underline;
}
.open_order {
    display: inline-flex;
    padding: 2px;
    height: 50px;
    width: 44px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
.restore_as_draft {
    display: inline-flex;
    background: #BADA55;
    padding: 2px;
    height: 50px;
    width: 140px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
.delete_order {
    display: inline-flex;
    padding: 2px;
    height: 50px;
    width: 44px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.cabinet_page_button_lime {
    background: #BADA55;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    height: 50px;
}
.cabinet_page_button_gray {
    background: #A0A09F;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    height: 50px;
}

.ui-dialog {
    z-index: 1001 !important;
    padding: 0.3em;
}
#dialog_form {
    padding: 15px;
    background: #BADA55;
    display: none;
}
#id_popup_info {
    z-index: 1001;
    padding: 15px;
    background: white;
    border: solid;
    border-color: #BADA55;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 390px;
    margin-top: -250px;
    margin-left: -225px;
    display: none;
    position: fixed;
    overflow-y: auto;
}
.validate_tips {
    border: 1px solid transparent;
    padding: 0.3em;
}
#id_shadow_all {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    display: none;
}

.top_tab {
    text-align: center;
    color: white;
    background: #A0A09F;
    margin-left: 10px;
    margin-right: 10px;
}
.top_tab_active {
    background: #BADA55;
}
.new_order_delete_product {
    display: inline-flex;
    background: #BADA55;
    padding: 2px;
    height: 50px;
    width: 80px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    cursor: pointer;
/*
    display: inline-flex;
    position: absolute;
    margin-left: 15px;
    margin-top: 5px;
*/
}
.new_order_delete_product:hover {
    text-decoration: underline;
}

.info_table {
    margin-left: 10px;
    margin-right: 10px;
}

.order_new_details_key {
    display: inline-block;
    background: #92D050;
    line-height: 40px;
    border: 1px #7F7F7F solid;
    width: 300px;
    text-align: right;
    padding-right: 10px;
    color: white;
    font-weight: bold;
    margin-left: 14px;
}
.order_new_details_value {
    display: inline-block;
    line-height: 38px;
    border: 1px #7F7F7F solid;
    width: 848px;
    text-align: left;
    padding-left: 10px;
    margin-left: -10px;
    font-weight: bold;
}
.order_product_header {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-flex;
}
.order_product_header_cell {
    display: inline-flex;
    background: #70AD47;
    color: white;
    /*font-weight: bold;*/
    padding: 2px;
    height: 50px;
    width: 96px;
    border: 2px solid white;
}
.order_product_row {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-flex;
}
.order_product_cell {
    display: inline-flex;
    background: #D5E3CF;
    padding: 2px;
    height: 50px;
    width: 96px;
    border: 2px solid white;
}
.order_new_product {
    display: inline-block;
    background: #A0A09F;
    line-height: 40px;
    border: 1px #7F7F7F solid;
    width: 100px;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 14px;
}
.order_new_product:hover {
    opacity: 0.9;
}
.new_order_form_btn {
    border: none;
    outline: none;
    background: #A0A09F;
    line-height: 40px;
    border: 1px #7F7F7F solid;
    width: 100px;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 14px;
    min-width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}
.new_order_form_btn:hover{
    opacity: 0.9;
}

.table_order_header > th {
    color: white;
    background: #70AD47;
    padding: 3px;
    height: 50px;
    width: 164px;
    border: 4px solid white;
}

.table_order_cells > td {
    background: #D5E3CF;
    padding: 3px;
    height: 50px;
    width: 164px;
    border: 4px solid white;
}

.order_info_log_img {
    cursor: pointer;
    height: 30px;
}
.order_info_log_cell {
    padding-left: 40px !important;
}

.order_info_details_key {
    display: inline-block;
    background: #92D050;
    line-height: 40px;
    border: 1px #7F7F7F solid;
    width: 300px;
    text-align: right;
    padding-right: 10px;
    color: white;
    font-weight: bold;
    margin-left: 14px;
}
.order_info_details_value {
    display: inline-block;
    background: #A0A09F;
    line-height: 40px;
    border: 1px #7F7F7F solid;
    width: 700px;
    text-align: left;
    padding-left: 10px;
    margin-left: -10px;
    color: white;
    font-weight: bold;
}
.table_product_header > th {
    color: white;
    background: #70AD47;
    padding: 3px;
    height: 50px;
    //max-width: 50px;
    width: 96px;
    border: 4px solid white;
}
.table_product_cells > td {
    background: #D5E3CF;
    padding: 3px;
    height: 50px;
    max-width: 94px;
    border: 4px solid white;
}

.popup_table {
    width: 75%;
    margin: 0px auto 20px;
}
.popup_table_row > th {
    padding: 3px;
    height: 50px;
    border: 2px solid #A0A09F;
}
.popup_table_row > td {
    padding: 3px;
    height: 50px;
    border: 2px solid #A0A09F;
}

.archive_delete_button {
    display: inline-flex;
    background: #A0A09F;
    height: 50px;
    line-height: 50px;
    border: 1px #7F7F7F solid;
    width: 120px;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    margin-left: 12px;
    color: white;
    font-weight: bold;
    //cursor: pointer;
    text-decoration: none;

}
.draft_control_button {
    display: inline-flex;
    background: #A0A09F;
    height: 50px;
    border: 1px #7F7F7F solid;
    width: 109px;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    margin-left: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.draft_control_button:hover{
    text-decoration: underline;
    color: white;
}
.archive_button:hover{
    text-decoration: none;
    color: white;
}
.archive_button:active {
    text-decoration: none;
    color: white;
}
.archive_button:visited {
    text-decoration: none;
    color: white;
}
.archive_restore_button {
    display: inline-flex;
    background: #A0A09F;
    height: 50px;
    line-height: 25px;
    border: 1px #7F7F7F solid;
    width: 120px;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    margin-left: 12px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
