{% extends 'delivery_tracker/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row top-offset-20">
            <div class="col-md-offset-8 col-md-3">
                <b>Здравствуйте{% if user.first_name %}, {{ user.first_name }}{% endif %}!</b>
            </div>
            <div class="col-md-1">
                <b><a href="{% url 'logout' %}">Выйти</a></b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 top-offset-20">
                <div class="header_stripe">
                    <a href="{% url 'cabinet' %}"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Главная</a>
                </div>
                <div class="row top-offset-20">
                    <div class="col-md-3 col-sm-3 link_hover_disabled">
                        <a href="{% url 'orders_and_bills' %}"><div class="cabinet_page_header"><img src="{% static 'img/order.png' %}" alt="Orders and bills" class="left_img"/><b>Заказы и счета</b></div></a>
                        <a href="{% url 'new_order' %}"><div class="cabinet_page_button_lime"><b>+ Создать <br>новый заказ<br></b></div></a>
                        <a href="{% url 'my_orders' 'active' %}"><div class="cabinet_page_button_gray"><b>Мои заказы</b></div></a>
                        <a href="{% url 'cabinet' %}"><div class="cabinet_page_button_gray"><b>Мои счета к оплате</b></div></a>
                    </div>
                    <div class="col-md-3 col-sm-3 link_hover_disabled">
                        <a href="{% url 'cabinet' %}"><div class="cabinet_page_header"><img src="{% static 'img/box.png' %}" alt="Goods and parcels" class="left_img"/><b>Товары и посылки</b></div></a>
                        <a href="{% url 'cabinet' %}"><div class="cabinet_page_button_lime"><b>+ Регистрация входящей посылки</b></div></a>
                        <a href="{% url 'cabinet' %}"><div class="cabinet_page_button_lime"><b>+ Создать исходящую посылку</b></div></a>
                        <a href="{% url 'cabinet' %}"><div class="cabinet_page_button_gray"><b>Мои посылки (в пути, на складе, пути)</b></div></a>
                        <a href="{% url 'cabinet' %}"><div class="cabinet_page_button_gray"><b>Мой виртуальный адрес</b></div></a>
                    </div>
                    <div class="col-md-3 col-sm-3 link_hover_disabled">
                        <a href="{% url 'cabinet' %}"><div class="cabinet_page_header"><img src="{% static 'img/message.png' %}" alt="Messages and help" class="left_img"/><b>Сообщения и справка</b></div></a>
                        <a href="{% url 'cabinet' %}"><div class="cabinet_page_button_lime"><b>+ Создать новый запрос</b></div></a>
                        <a href="{% url 'cabinet' %}"><div class="cabinet_page_button_gray"><b>Мои обращения</b></div></a>
                        <a href="{% url 'cabinet' %}"><div class="cabinet_page_button_gray"><b>Часто задаваемые вопросы</b></div></a>
                        <a href="{% url 'cabinet' %}"><div class="cabinet_page_button_gray"><b>Тарифы и калькулятор</b></div></a>
                        <a href="{% url 'cabinet' %}"><div class="cabinet_page_button_gray"><b>Пользовательское соглашение</b></div></a>
                    </div>
                    <div class="col-md-3 col-sm-3 link_hover_disabled">
                        <a href="{% url 'cabinet_personal_data' %}"><div class="cabinet_page_header"><img src="{% static 'img/person.png' %}" alt="Personal Data" class="left_img"/><b>Личные данные</b></div></a>
                        <a href="{% url 'cabinet' %}"><div class="cabinet_page_button_lime"><b>+ Мои бонусы</b></div></a>
                        <a href="{% url 'cabinet' %}"><div class="cabinet_page_button_gray"><b>Настройки уведомдений, пароль и т.д.</b></div></a>
                        <a href="{% url 'cabinet' %}"><div class="cabinet_page_button_gray"><b>Адреса</b></div></a>
                        <a href="{% url 'cabinet' %}"><div class="cabinet_page_button_gray"><b>Верификация аккаунта</b></div></a>
                        <a href="{% url 'cabinet' %}"><div class="cabinet_page_button_gray"><b>Соц.сети</b></div></a>
                    </div>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-3 top-offset-20">
                <div class="row header_stripe">
                    <div class="col-sm-8">Неоплаченные счета</div><div class="col-sm-4 header_stripe_money">0 (0 euro)</div>
                </div>
                <div class="row header_stripe">
                    <div class="col-sm-8">посылки на складе</div><div class="col-sm-4 header_stripe_money">0 (0 euro)</div>
                </div>
                <div class="row header_stripe">
                    <div class="col-sm-8">Готовые к отправке</div><div class="col-sm-4 header_stripe_money">0 (0 euro)</div>
                </div>
                <div class="row header_stripe">
                    <div class="col-sm-8">В пути к адресату</div><div class="col-sm-4 header_stripe_money">0 (0 euro)</div>
                </div>

                <div class="row news_header_stripe">
                    Новости
                </div>
                <ul>
                    <li>I've heard them calling in the distance So I packed my things and run</li>
                    <li>Far away from other trouble I had caused with my two hands</li>
                    <li>Hold your horses now (and sleep until the sun goes down) through the worlds we ran (deep into the mountain sound)</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
