{% extends 'delivery_tracker/base.html' %}

{% block content %}
    <div class="container">
        <div class="row top-offset-20">
            <div class="col-md-offset-8 col-md-3">
                <b>Welcome{% if user.first_name %}, {{ user.first_name }}{% endif %}!</b>
            </div>
            <div class="col-md-1">
                <b><a href="{% url 'logout' %}">Logout</a></b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div style="background: #A0A09F; height: 50px; line-height: 50px; white-space: nowrap; font-size: 25px; color: white; padding-left: 10px;">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: white"></span> Main

                </div>
                <div class="col-md-3">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="color: blue"></span><b>Orders and bills</b>
                    <div style="background: #BADA55; color: white; text-align: center; margin-top: 5px;"><b>+ Create new <br>order<br></b></div>
                    <div style="background: #A0A09F; color: white; text-align: center; margin-top: 5px;"><b>My orders</b></div>
                    <div style="background: #A0A09F; color: white; text-align: center; margin-top: 5px;"><b>My bills for paying</b></div>
                </div>
                <div class="col-md-3">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="color: blue"></span><b>Goods and parcels</b>
                    <div style="background: #BADA55; color: white; text-align: center; margin-top: 5px;"><b>+ Incoming parcel registration</b></div>
                    <div style="background: #BADA55; color: white; text-align: center; margin-top: 5px;"><b>+ Create outgoing parcel</b></div>
                    <div style="background: #A0A09F; color: white; text-align: center; margin-top: 5px;"><b>My parcels (shipping, storing)</b></div>
                    <div style="background: #A0A09F; color: white; text-align: center; margin-top: 5px;"><b>My virtual address</b></div>
                </div>
                <div class="col-md-3">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="color: blue"></span><b>Messages and help</b>
                    <div style="background: #BADA55; color: white; text-align: center; margin-top: 5px;"><b>+ Create a new request</b></div>
                    <div style="background: #A0A09F; color: white; text-align: center; margin-top: 5px;"><b>My appeals</b></div>
                    <div style="background: #A0A09F; color: white; text-align: center; margin-top: 5px;"><b>Frequently asked questions</b></div>
                    <div style="background: #A0A09F; color: white; text-align: center; margin-top: 5px;"><b>Prices and calculator</b></div>
                    <div style="background: #A0A09F; color: white; text-align: center; margin-top: 5px;"><b>User agreement</b></div>
                </div>
                <div class="col-md-3">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="color: blue"></span><b>Personal Data</b>
                    <div style="background: #BADA55; color: white; text-align: center; margin-top: 5px;"><b>+ My bonuses</b></div>
                    <div style="background: #A0A09F; color: white; text-align: center; margin-top: 5px;"><b>Preferences</b></div>
                    <div style="background: #A0A09F; color: white; text-align: center; margin-top: 5px;"><b>Addresses</b></div>
                    <div style="background: #A0A09F; color: white; text-align: center; margin-top: 5px;"><b>Account verification</b></div>
                    <div style="background: #A0A09F; color: white; text-align: center; margin-top: 5px;"><b>Social networks</b></div>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-3">
                <div class="row">
                    <div class="col-sm-8" style="background: #A0A09F; color: white; margin-top: 5px; text-align: left;"><b>Not yet payed bills</b></div><div class="col-sm-4" style="background: #A0A09F; color: white; margin-top: 5px; text-align:right">0 (0 euro)</div>
                </div>
                <div class="row">
                <div style="background: #A0A09F; color: white; text-align: left; margin-top: 5px;"><b>Parcels stored</b></div>
                <div style="background: #A0A09F; color: white; text-align: left; margin-top: 5px;"><b>Ready for shipping</b></div>
                <div style="background: #A0A09F; color: white; text-align: left; margin-top: 5px;"><b>Shipping</b></div>
                </div>
                <div style="background: #A0A09F; color: white; text-align: center; margin-top: 40px;"><b>News</b></div>
                <ul>
                    <li>I've heard them calling in the distance</li>
                    <li>So I packed my things and run</li>
                    <li>Far away from other trouble</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
