<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Euro Delivery</title>
</head>
<body>
    <h1>Restore forgotten password</h1>
    {% if password_restore_message %}
        <b>{{ password_restore_message }}</b>
    {% else %}
        <b>Enter your email. We will send a new password.</b>

        <form id="restore_form" action="/tracker/forgot_password/" method="post"
                enctype="multipart/form-data">
            {% csrf_token %}

            {{ forgot_password_form.as_p }}

            <input type="submit" name="submit" value="Send me new password" />
        </form>
    {% endif %}
</body>
</html>